*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #72a088;
    --text-color: #0b0a0a;
    --main-color: #edf3ee;
    --title-color: #E1D5B8;
    --nav-color: #acd8ba;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    min-width: fit-content;
    overflow-y: scroll;
}
.logo{
    display: flex;
    padding: 3vh 3vw;
    text-align: left;
    width: 20vw;
    cursor: pointer;
    align-items: center;
}
.logo i{
   color:var(--text-color);
   font-size: 28px;
   margin-right: 3px;
}
.logo span{
    color:var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;

}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu-icon{
    font-size: 20px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
.navbar a:hover{
    color:var(--main-color);
} 

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
}


.row{
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col{
    flex-basis: 50%;
    margin-left: 50px;
    margin-right: 50px;
}


.container .header {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.container .header h1 {
    text-align: center;
    color: white;
}
.container button{
    background-color: #ecd27b; color: black;
    border: none;
    font-size: 12px;
    padding: 5px 10px 5px 10px; 
    border-radius: 8px; 
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 20px;
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: table;
}
.container button:hover{
    background-color: #dde6dd; 
}
.container .isi {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5px;
    font-size: 12px;
    display: table;
    background-color: #e3eedd;
    margin: 0 auto;
    width: 70%;
}
.container .isi img{
    width: 100px;
    border: 1px solid rgb(60, 59, 59);
    border-radius: 10px;
}

.container .isi button{
    background-color: #ecd27b; color: black;
    border: none;
    font-size: 12px;
    padding: 10px 20px 10px 20px; 
    border-radius: 8px; 
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    font-family: 'Poppins';
    margin-top: 20px;
    width: 20%;
    margin-left: 10px;
    text-decoration: none;
    display: table;
}
.container .isi button:hover{
    background-color: #d1ddd2; 
}

.pesanan-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.gambar-produk {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 60%;
}
.gambar-produk, .bukti-pembayaran {
    flex: 0 0 auto; /* Mengatur elemen tetap dalam lebar yang sama */
}
.gambar-produk img, .bukti-pembayaran img {
    max-width: 100%;
    height: auto;
}
.bukti-pembayaran {
    clear: both;
    text-align: left;
}
